development:
  adapter: mysql
  username: root
  password: 
  database: dashboard_dev
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: mysql
  username: root
  password: 
  database: dashboard
  pool: 5
  timeout: 5000
