<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Dash</title>
    <%= stylesheet_link_tag 'dashboard' %>
    <meta http-equiv="refresh" content="120">
  </head>
  <body>
    <div id="wrapper">

      <% @grouped_data_points.each do |family, data_points| %>
      <div class="nonfeatured">
        <h2><%= family.titleize %></h2>
        <dl>
          <% data_points.each do |dp| %>
            <dt><%= dp.name %></dt>
            <dd><%= dp.value %></dd>
          <% end %>
        </dl>
      </div>
      <% end %>
    </div>
  </body>
</html>
